---
import { MessageCirclePlus } from "@lucide/astro";
import { SiteConfig } from "@/data/config";
---

<section
  class="bg-bg-400 border border-bg-bg-200 text-text rounded-xl p-6 sm:px-10 sm:py-12 text-center hover:shadow-sm"
  aria-label="call to action"
>
  <h2
    class="text-3xl sm:text-4xl md:text-5xl font-bold font-arabic leading-tight"
  >
    جاهز لتحويل فكرتك إلى واقع؟
  </h2>
  <p class="mt-2 text-base sm:text-lg text-text">
    ابدأ رحلتك نحو تحويل فكرتك إلى مشروع ناجح يعكس شغفك.
  </p>

  <a
    href={`https://wa.me/${SiteConfig.contact.whatsapp}`}
    class="inline-flex flex-wrap items-center justify-between mt-10 bg-[#25D366] text-black rounded-full px-6 py-3 font-sans text-md md:text-xl font-bold hover:opacity-90 transition"
  >
    {SiteConfig.contact.whatsappCall}
    <span
      class="mr-2 inline-block bg-bg-400 text-text rounded-lg px-1 md:px-2 py-1"
    >
      <MessageCirclePlus class="text-text" />
    </span>
  </a>
</section>
