---
import { SiteConfig } from "@/data/config";
import { MessageCircle } from "@lucide/astro";
import Button from "./Button.astro";
---

<section class="py-6" aria-lable="الصفحة الرئيسية">
  <h1 class="text-5xl md:text-5xl font-bold font-arabic text-text mb-3 md:mb-6">
    أخلق تجربة بصرية مُلهمة وأطوّر حضورك الرقمي
  </h1>
  <p class="text-lg text-text leading-loose font-kunkun">
    أساعدك على تقديم تجربة رقمية متكاملة تجمع بين تصميم العلامة، تطوير المواقع،
    وإبراز ظهورك على المنصات الرقمية من خلال إبداع بصري لا يُنسى.
  </p>
  <div
    class="my-6 flex flex-col-reverse md:flex-row flex-wrap gap-4 font-kunkun font-bold"
  >
    <Button link="/portfolio" text="معرض الأعمال" />
    <a
      href={`https://wa.me/${SiteConfig.contact.whatsapp}`}
      target="_blank"
      rel="noopener noreferrer"
      class="bg-green-600 text-white px-6 py-2 rounded-md flex items-center gap-2 transition duration-200 hover:opacity-90 hover:shadow-md"
    >
      <MessageCircle class="w-5 h-5" />
      تواصل معي
    </a>
  </div>
</section>
