---
import { SiteConfig } from "@/data/config";
---

<a href="/" class="flex items-center gap-3 overflow-hidden">
  <img
    src="/assets/SalemLogo.avif"
    alt="Logo"
    class="w-10 h-10 rounded-md object-cover"
  />
  <div class="flex flex-col leading-tight">
    <h2
      class="text-lg font-bold font-arabic text-gray-900 dark:text-white truncate"
    >
      <img
        src="/assets/logo-light.avif"
        alt={SiteConfig.AppName}
        class="block dark:hidden h-8"
        loading="lazy"
      />
      <img
        src="/assets/logo-dark.avif"
        alt={SiteConfig.AppName}
        class="hidden dark:block h-8"
        loading="lazy"
      />
    </h2>
    <p class="text-xs font-kunkun text-gray-600 dark:text-white mt-0.5">
      {SiteConfig.About}
    </p>
  </div>
</a>
