---
import { navbarLinks } from "@/data/navbar";
---

<nav class="mt-6 space-y-4" aria-label="القائمة الرئيسية">
  {
    navbarLinks.map((link) => (
      <a href={link.url} class="block bg-bg-400 text-text" title={link.title}>
        {link.title}
      </a>
    ))
  }
</nav>
