@use "@/styles/theme.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'AdobeArabic';
    src: url('/fonts/adobe-arabic-regular.ttf') format('truetype');
    font-weight: 400;
    font-styles: normal;
}

@font-face {
    font-family: 'AdobeArabic';
    src: url('/fonts/adobe-arabic-bold.ttf') format('truetype');
    font-weight: 700;
    font-styles: normal;
}

@font-face {
    font-family: 'KunkunArabic';
    src: url('/fonts/kunkun-arabic-regular.ttf') format('truetype');
    font-weight: 400;
    font-styles: normal;
}

@font-face {
    font-family: 'KunkunArabic';
    src: url('/fonts/kunkun-arabic-bold.ttf') format('truetype');
    font-weight: 700;
    font-styles: normal;
}

/*MenuToggler*/
.hamburger span:nth-child(1) {
    top: 0;
}

.hamburger span:nth-child(2) {
    top: 8px;
}

.hamburger span:nth-child(3) {
    top: 16px;
    width: 60%;
}

.hamburger.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 8px;
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: 8px;
    width: 100%;
}

.menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 50;
}

.menu.show {
    transform: scaleY(1);
    opacity: 1;
}

/*For Portfolio Filtering*/
.PortfolioSingle {
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .hidden-card {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  