---
import H1 from "@/components/H1.astro";
import Layout from "@/layouts/Layout.astro";
import { Undo2 } from "lucide-react";
---

<Layout title="صفحة غير موجودة">
  <section
    class="min-h-full flex justify-start text-right text-zinc-900 dark:text-white"
  >
    <div>
      <H1 text="خطأ 404" />
      <p class="text-lg mt-4 text-zinc-800 dark:text-zinc-300">
        لم نجد ما تبحث عنه..
      </p>
      <a
        href="/"
        class="mt-6 flex gap-2 border border-black dark:border-white px-4 py-2 rounded-md hover:bg-black hover:text-white dark:hover:bg-white dark:hover:text-black"
      >
        <Undo2 /> الرئيسية
      </a>
    </div>
  </section>
</Layout>
