---
import { CalendarCheck } from "@lucide/astro";
import { getPosts } from "@/graphql/fetcher/fetchPosts";
import Button from "./Button.astro";
import SecTitle from "./SecTitle.astro";
const posts = await getPosts(3);
---

<section class="py-12 px-4 max-w-screen-xl mx-auto space-y-6">
  <SecTitle text="المدونة" />
  <p>مقالات وكتب أثْرتني، أشارككم خــلاصة بعض الأفكار والإلهام</p>
  {
    posts.map((post) => (
      <a
        href={`/blogs/${post.uri.replaceAll("/", "")}`}
        class="flex flex-row items-start gap-4 hover:bg-white p-4 rounded-xl shadow hover:shadow-md transition"
      >
        <img
          src={post.featuredImage?.node.sourceUrl}
          alt={post.featuredImage?.node.altText || post.title}
          class="w-[9.5rem] h-[7.125rem] object-cover aspect-ratio-1/1 rounded-md"
          loading="lazy"
        />
        <div class="flex flex-col justify-between flex-1">
          <h3 class="text-2xl font-bold text-gray-900 mb-2 font-arabic">
            {post.title}
          </h3>
          <time
            datetime={post.date}
            class="text-xs font-bold font-sans text-gray-900 mb-1 flex items-center gap-1"
          >
            <CalendarCheck class="w-4 h-4 text-gray-500" />
            {new Date(post.date).toLocaleDateString()}
          </time>

          <p
            class="text-sm text-gray-600 leading-relaxed"
            set:html={post.excerpt}
          />
        </div>
      </a>
    ))
  }
  <div class="pt-4 text-center inline-block">
    <Button link="/blogs" text="انتقل للمدونة" />
  </div>
</section>
