---
import { MailPlus } from "@lucide/astro";
import { SiteConfig } from "@/data/config";
---

<section
  class="bg-zinc-700 text-white rounded-xl p-6 text-center"
  aria-label="جاهز لتحويل فكرتك إلى واقع؟"
>
  <h2 class="text-5xl md:text-6xl font-bold font-arabic leading-tight">
    جاهز لتحويل فكرتك إلى واقع؟
  </h2>
  <p class="mt-6 text-base sm:text-lg text-gray-300">
    ابدأ رحلتك نحو تحويل فكرتك إلى مشروع ناجح يعكس شغفك.
  </p>

  <a
    href="#"
    class="inline-flex items-center justify-between mt-10 bg-white text-black rounded-full px-6 py-3 font-sans text-2xl font-bold hover:opacity-90 transition"
  >
    {SiteConfig.contact.email}
    <span class="mr-3 inline-block bg-gray-200 rounded-lg px-3 py-1"
      ><MailPlus /></span
    >
  </a>
</section>
