<section
  class="max-w-xl mx-auto px-4 py-12 rounded-2xl bg-zinc-200 text-zinc-900"
>
  <h2 class="text-center text-xl font-semibold mb-8">
    تواصل معي 
  </h2>

  <form class="space-y-4">
    <div class="mt-4">
      <label for="name" class="block mb-1 text-sm">الاسم الكريم</label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="سالم محمد"
        class="w-full rounded-lg mt-2 px-4 py-2 bg-zinc-100 text-zinc-900 placeholder:text-gray-400 focus:outline-none"
      />
    </div>

    <div class="mt-4">
      <label for="email" class="block mb-1 text-sm">إيميل التواصل</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="contact@salem-des.com"
        class="w-full rounded-lg mt-2 px-4 py-2 bg-zinc-100 text-zinc-900 placeholder:text-gray-400 focus:outline-none"
      />
    </div>

    <div class="mt-4">
      <label for="social" class="block mb-1 text-sm"
        >حسابك على السوشال ميديا</label
      >
      <input
        type="text"
        id="social"
        name="social"
        placeholder="@salem"
        class="w-full rounded-lg mt-2 px-4 py-2 bg-zinc-100 text-zinc-900 placeholder:text-gray-400 focus:outline-none"
      />
    </div>

    <div class="mt-4">
      <label for="details" class="block mb-1 text-sm">أي تفاصيل إضافية؟</label>
      <textarea
        id="details"
        name="details"
        placeholder="خل نتلكم في التفاصيل"
        rows="4"
        class="w-full rounded-xl px-4 py-2 bg-zinc-100 text-zinc-900 placeholder:text-gray-400 focus:outline-none"
      ></textarea>
    </div>

    <div class="mt-4">
      <button
        type="submit"
        class="w-full rounded-lg mt-2 bg-black text-white py-2 font-medium hover:opacity-90 transition"
      >
        ارسال
      </button>
    </div>
  </form>

  <p class="text-center text-sm mt-4 text-gray-600">
    بإذن الله يتم الرد خلال يومين
  </p>
</section>
