---
import Logo from "./Logo.astro";
import NavLinks from "./NavLinks.astro";
---

<aside
  class="hidden lg:flex flex-col w-64 bg-white h-[100vh] sticky top-0"
>
  <div class="p-4 border-b">
    <Logo />
  </div>
  <div class="flex-1 p-4 overflow-y-auto">
    <NavLinks />
  </div>
</aside>
